body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    width: 1800px;
    height: 1000px;
    
    overflow: hidden;
    cursor: none;
}
.cursor{
    display: flex;
    position: fixed;
    width: 6%;
    height: auto;

    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9999;
}

.gozt{
    position: absolute;
    width: fit-content;
    z-index: 300;
}
.play{
    position: absolute;
    width: 100%;
    font-size: 50px;
    color: #000000;
    top: 82%;
    left: 80%;
    z-index: 299;
    animation: dissapear 10s;
}
.play:hover{
    color: #ffffff;
}


@keyframes follow{
    0%{
        transform: rotateZ(40deg);
    }
    50%{
        transform: rotateZ(-40deg);
    }
    100%{
        transform: rotateZ(40deg);  
    }

}
.ghost1{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    padding: 1%;
    width: 6.7%;
    height: auto;
    pointer-events: none;
    transition: 0.2s;
}
#g1{
    animation: follow infinite 1s ;
}

.ghost2{
    position: fixed;
    display: flex;
    top: 0%;
    left: 30%;
    padding: 1%;
    width: 6%;
    height: auto;
    pointer-events: none;
    transition: 0.3s;
}
#g2{
    animation: follow infinite 2s ;
}
.ghost3{
    position: fixed;
    display: flex;
    top: 40%;
    left: 0;
    padding: 6%;
    width: 7%;
    height: auto;
    pointer-events: none;
    transition: 0.35s;
}
#g3{
    animation: follow infinite 3s ;
}

.ghost4{
    position: fixed;
    display: flex;
    top: 0%;
    left: 60%;
    padding: 6%;
    width: 7%;
    height: auto;
    pointer-events: none;
    transition: 0.43s;
}
#g4{
    animation: follow infinite 2.5s ;
}
.ghost5{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    padding: 3%;
    width: 6.7%;
    height: auto;
    pointer-events: none;
    transition: 0.51s;
}
#g5{
    animation: follow infinite 1s ;
}

.ghost6{
    position: fixed;
    display: flex;
    top: 0%;
    left: 30%;
    padding: 5%;
    width: 6%;
    height: auto;
    pointer-events: none;
    transition: 0.55s;
}
#g6{
    animation: follow infinite 3s ;
}
.ghost7{
    position: fixed;
    display: flex;
    top: 40%;
    left: 0;
    padding: 6%;
    width: 7%;
    height: auto;
    pointer-events: none;
    transition: 0.7s;
}
#g7{
    animation: follow infinite 2.5s ;
}

@keyframes dissapear{
    from{
        color: #ffffff;
    }
    to{
        color: #000000;
    }
}
.txt{
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #000000;
    top: 0%;
    opacity: (40%);

    font-size: 300%;
    animation: dissapear 10s;
    pointer-events: none;
}
.trick{
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    width: 40%;
    color: #000000;
    top: 0%;
    left: 0;
    padding: 0%;
    font-size: 30px;
}

.trick:hover{
    color: #ffffff;
}
.img{
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    width: 40%;
    color: #000000;
    top: 6%;
    left: 0%;
    padding: 2%;
    font-size: 30px;
}
.img:hover{
    color: #ffffff;
}




@keyframes appear{
    from{
        filter: brightness(0%);
    }
    to{
            filter: brightness(100%);  
    }
}





/*JOB SCENE*/

.page2{
    display: none;
    animation: appear 3s;
}

.job{
    position: absolute;
    width: 100%;
    z-index: 500;
}
.B{
    position: absolute;
    width:20%;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    top: 0%;
    left: 0%;
    background-color: #000000;
    z-index: 501;
}
.B:hover{
    color: red;
}


/*GRASS SCENE*/
.page3{
    display: none;
    animation: appear 3s;
}


.now{
    position: absolute;
    width: 100%;
    z-index: 600;
}
.said{
    position: absolute;
    width: 20%;
    color: #ffffff;
    background-color: #000000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    top: 0%;
    left: 0%;
    z-index: 601; 
}
.said:hover{
    filter: brightness(120%);
    color: red;
}



/*GAME SCENE*/

.game{
    display: none;
    animation: appear 3s;
}


.board{
    position: absolute;
    background-color: #000000;
    width: 100%;
    filter: brightness(10%);
    top: 0%;
    left: 0%;
    z-index: 700;
}
.cat{
    position: absolute;
    width: 20%;
    margin-left: 5%;
    top: 38%;
    z-index: 701;
}
.cat:hover{
    filter: brightness(120%);
    transform: scale(1.2, 1.2);
}
.bat{
    position: absolute;
    width: 20%;
    margin: 5%;
    top: 30%;
    left: 38%;
    z-index: 701; 
}
.bat:hover{
    filter: brightness(120%);
    transform: scale(1.2, 1.2);
}
.candy{
    position: absolute;
    width: 10%;
    margin: 5%;
    top: 40%;
    left: 80%;
    z-index: 701;
}
.candy:hover{
    filter: brightness(120%);
    transform: scale(1.2, 1.2);
}
.order{
    position: absolute;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
    color: #ffffff;
    z-index: 702;
    pointer-events: none;
}
.back{
    position: absolute;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    color: #ffffff;
    top: 0%;
    left: 90%;
    z-index: 708;

}

